!!! 5
%html{ lang: r18n.locale.code }
  %head
    %meta( charset="UTF-8" )
    %title= t.name.title
    = csrf_meta_tag
    
    = include_jquery('1.5.1')
    
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu'
    = include_stylesheets :application
    = include_javascripts :application
    
  %body
    - flash.each_pair do |key, message|
      - if message
        = "#{key}:"
        = message.html_safe
    
    %header
      .center
        %a.home( href="/" rel="home" )
          .logo
          .eyes
          - if signed_in?
            = t.name.with_user(current_user.name)
          - else
            = t.name.header
        - if signed_in?
          - form_tag sessions_path, method: :delete, class: 'exit' do
            %a( href="#" rel="submit" )= t.exit
        - else
          .auth
            %h3= t.signin.title
            %form( action="/auth/open_id" method="get" )
              .elements
                %input( type="url" name="openid_url" required )
                %a( href="#" rel="submit" )
                  .wrap
                    .top
                    .bottom
                    = t.signin.openid_submit
            %a( href="/auth/google" )
              .wrap
                .top
                .bottom
                Google
            %a( href="/auth/facebook" )
              .wrap
                .top
                .bottom
                Facebook
            %a( href="/auth/open_id" rel="openid" )
              .wrap
                .top
                .bottom
                OpenID
    .center
      = yield
