!!! 5
%html{ lang: r18n.locale.code }
  %head
    %meta( charset="UTF-8" )
    %title= t.title
    = csrf_meta_tag
    
    = include_stylesheets :application
    = include_javascripts :application
    
  %body
    - flash.each_pair do |key, message|
      - if message
        = "#{key}:"
        = message.html_safe
    
    = yield
    
    - if signed_in?
      - form_tag sessions_path, method: :delete do
        = submit_tag t.exit
